<template>
    <div>
        <!-- 
            Terms and Conditions Modal 
        -->
        <transition name="Modal" v-if = "modal == 1">
            <div class="modal-mask">
            <div class="modal-wrapper">
                <div class="modal-container">
                <div class="modal-header">
                    <slot name="header">
                        Terms and Conditions
                    </slot>
                </div>
                <div class="modal-body">
                    <slot name="sub-header">
                        By clicking the 'Accept' button you are agreeing to the following terms and conditions:
                    </slot>

                    <table id="conditionsTable">
                        <tr>
                            <td>
                                1. You have permission to share the file that you are choosing to upload.
                            </td>
                        </tr>
                        <tr>
                            <td>
                                2. The file you upload does not contain any illegal or inappropriate content.
                            </td>
                        </tr>
                        <tr>
                            <td>
                                3. You give CADPRO Systems Ltd. permission to use the metadata from your uploaded file for marketing analysis.
                            </td>
                        </tr>
                    </table>
                </div>
                    
                <div class="modal-footer">
                    <slot name="footer">
                        <button class="modal-default-button" v-on:click = "modal = 0">
                            Accept
                        </button>
                        <button class="modal-default-button" v-on:click = "goToSite()">
                            Decline
                        </button> 
                    </slot>
                </div>
                </div>
            </div>
            </div>
         </transition>
        <!--
            Drag and Drop
        -->
        <div id = "file-drag-drop" class = "dragndrop" v-if = "processing == 0">
            <form ref = "fileform" enctype="multipart/form-data" method="post">
                <span class="fas fa-cloud-upload-alt fa-9x"></span>
                <label class="dropLabel">Most 2D and 3D files can be viewed by dropping them here</label>
            </form>
        </div>
        <!--
            Spinner
        -->
        <div id = "loadingPane" v-if = "processing == 1">
            <div class = "loader"></div>
            <label class = "loaderLabel">Please wait. Some models can take up to 3 minutes to process.</label>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';

    export default {
        /*
        Variables used by the drag and drop component
        */
        data() {
            return {
                dragAndDropCapable: true,
                file_details: "Details",
                files: [],
                token: '',
                objectId: '',
                processing: 0,
                modal: 1
            }
        },

        mounted() {
            /*
                Determine if drag and drop functionality is capable in the browser
            */
            this.dragAndDropCapable = this.determineDragAndDropCapable();

            /*
                If drag and drop capable, then we continue to bind events to our elements.
            */
            if (this.dragAndDropCapable) {
                /*
                Listen to all of the drag events and bind an event listener to each
                for the fileform.
                */
                ['drag', 'dragstart', 'dragend', 'dragover', 'dragenter', 'dragleave', 'drop'].forEach(function(evt) {
                    /*
                        For each event add an event listener that prevents the default action
                        (opening the file in the browser) and stop the propagation of the event (so
                        no other elements open the file in the browser)
                    */
                    this.$refs.fileform.addEventListener(evt, function(e) {
                        e.preventDefault();
                        e.stopPropagation();
                    }.bind(this), false);
                }.bind(this));

                /*
                Add an event listener for drop to the form
                */
                this.$refs.fileform.addEventListener('drop', function(e) {
                    /*
                        Capture the files from the drop event and add them to our local files
                        array.
                    */
                    for (let i = 0; i < e.dataTransfer.files.length; i++) {
                        this.files.push(e.dataTransfer.files[i]);
                        this.submitFiles();
                    }
                }.bind(this));
            }
        },

        methods: {
            goToSite() {
                window.location.href = "https://www.cadpro.co.nz/";
            },

            /*
                Determines if the drag and drop functionality is in the
            */
            jumpToModel(objectId, token, file) {
                this.objectId = objectId;
                this.token = token;
                let self = this;

                axios.get(`http://localhost:8080/api/forge/verifyJobComplete/${objectId}/status`)
                .then(function (response) {
                    // console.log("Received response");
                    console.log(response.data);
                    if (response.data.progress == 'complete') {
                        self.$router.push({name: 'Model', params: {objectId: self.objectId, token: self.token, file: file}});
                    } else {
                        self.progress = self.progress + (file.size * 0.2);
                        self.jumpToModel(objectId, token, file);
                    }
                })
                .catch(function (response) {
                    //handle error
                    console.log(response);
                });
                
            },
            determineDragAndDropCapable() {
                /*
                Create a test element to see if certain events
                are present that let us do drag and drop.
                */
                var div = document.createElement('div');

                /*
                Check to see if the `draggable` event is in the element
                or the `ondragstart` and `ondrop` events are in the element. If
                they are, then we have what we need for dragging and dropping files.

                We also check to see if the window has `FormData` and `FileReader` objects
                present so we can do our AJAX uploading
                */
                return (('draggable' in div)
                        || ('ondragstart' in div && 'ondrop' in div))
                        && 'FormData' in window
                        && 'FileReader' in window;
            },

            /*
            Submits the files to the server
            */
            submitFiles() {
                /*
                    Initialize the form data
                */
                let formData = new FormData();
                this.processing = 1;

                /*
                    Iteate over any file sent over appending the files
                    to the form data.
                */
                for (var i = 0; i < this.files.length; i++){
                    let file = this.files[i];
                    // console.log(file);
                    // console.log(file.name);

                    formData.append('file', file);
                    formData.append('name', file.name);
                }


                /*
                    Posts the file to the API, and retrieves the project ID and
                    encrypted project ID for viewing the model.
                */

                let self = this;

                axios.post('http://localhost:8080/api/forge/upload',
                    formData,
                    { 
                        headers: {
                            'Content-Type': 'multipart/form-data' 
                        }
                    }
                )
                .then(function (response) {
                    //handle success
                    let objectId = response.data.objectId;
                    let token = response.data.token;
                    self.jumpToModel(objectId, token, self.files[0]);
                })
                .catch(function (response) {
                    //handle error
                    console.log(response);
                });
            }
        }
    }
</script>

<style>
    form {
        position: absolute;
        left: 50%;
        top: 50%;
        height: 500px;
        width: 500px;
        background: #e6e6e6;
        text-align: center;
        line-height: 400px;
        border-radius: 4px;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);    /* Older Gecko browser */
        -ms-transform: translate(-50%, -50%);     /* IE9+ */
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .row.content {
        height: 1500px;
        align: center;
    }

    div.file-listing {
        width: 400px;
        margin: auto;
        padding: 10px;
        align: center;
        border-bottom: 1px solid #ddd;
    }

    div.file-listing img {
        height: 100px;
        align: center;
    }

    .fas.fa-cloud-upload-alt.fa-9x {
        background-color: #e6e6e6;
        margin-bottom: 0px;
        color: #002266; 
        align: center;
        /*position: absolute;*/
        margin-top: 130px;        
    }

    .dropLabel {
        color: #4D4D4D;
        position: relative;
        top: -45%;
        left: 39%;
        margin-top: 80px;
        align: center;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);    /* Older Gecko browser */
        -ms-transform: translate(-50%, -50%);     /* IE9+ */
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    /*
        Loading Elements
        - Spinner
        - Label
    */

    #loadingPane {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);    /* Older Gecko browser */
        -ms-transform: translate(-50%, -50%);     /* IE9+ */
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .loader {
        border: 20px solid #d9d9d9; /* Light grey */
        border-top: 20px solid #002266; /* Blue */
        border-radius: 50%;
        position: relative;
        left: 35%;
        width: 100px;
        height: 100px;
        animation: spin 1.5s linear infinite;
    }

    .loaderLabel {
        color: #1A1A1A;
        font-family: "Arial", Sans-Serif;
        font-weight: bold;
        text-align: center;
        font-size: 1.0em;
        position: relative;
        margin-top: 30px;
        top: 10%;
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }

    /*
        Modal Styles
    */
    .modal-mask {
        position: fixed;
        z-index: 9998;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        display: table;
        transition: opacity .3s ease;
    }

    .modal-wrapper {
        display: table-cell;
        vertical-align: middle;
    }

    .modal-container {
        width: 600px;
        height: 600px;
        margin: 0px auto;
        padding: 20px 30px;
        background-color: #fff;
        border-radius: 2px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
        transition: all .3s ease;
        font-family: Helvetica, Arial, sans-serif;
    }

    .modal-header h3 {
        margin-top: 0;
        color: #42b983;
    }

    .modal-body {
        margin: 20px 0;
    }

    tr {
        height: 30px;
    }

    #conditionsTable {
        margin-top: 20px;
    }
    

    .modal-default-button {
        float: right;
        height: 30px;
        width: 80px;
    }

    .modal-default-button:hover {
        background-color: #e5e5e5;
    }

    /*
    * The following styles are auto-applied to elements with
    * transition="modal" when their visibility is toggled
    * by Vue.js.
    *
    * You can easily play with the modal transition by editing
    * these styles.
    */

    .modal-enter {
        opacity: 0;
    }

    .modal-leave-active {
        opacity: 0;
    }

    .modal-enter .modal-container,
    .modal-leave-active .modal-container {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }



</style>