<template>
  <div class="Home">
        {{ msg }}
        <button id="show-modal" @click="showModal = true">Show Modal</button>
        <!-- use the modal component, pass in the prop -->
        <modal v-if="showModal" @close="showModal = false">
            <h3 slot="header">
                custom header
            </h3>
            <div slot="body">
                you can use custom content here to overwrite
                default content
            </div>
        </modal>
    </div>
</template>

<script>
import exampleMixin from "./../mixin/ExampleMixin";
import Modal from "@/components/Modal";
// import * as Cookies from 'js-cookie'
export default {
    name: "Home",
    mixins: [exampleMixin],
    data() {
        return {
            msg: "Welcome to Home page",
            showModal: false
        };
    },
    beforeCreate() {
        console.log("Nothing gets called before me!");
    },
    created() {},
    computed: {},
    methods: {},
    components: {
        'modal': Modal
    }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row.content {
    height: 1500px;
}

/* Set gray background color and 100% height */
.sidenav {
    background-color: #f1f1f1;
    height: 100%;
}

/* Set black background color, white text and some padding */
footer {
    background-color: #555;
    color: white;
    padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {
        height: auto;
    }
}
</style>
