
<template>
  <div class="model">
    <div class="container-fluid">
        <div class="row content">
            <div id="MyViewerDiv"></div>
        </div>
    </div>
      {{ msg }}
  </div>
  
</template>

<script>
// import exampleMixin from "./../mixin/ExampleMixin";
// import * as Cookies from 'js-cookie'
export default {
    name: "Model",
    //mixins: [exampleMixin],
    data() {
        return {
            msg: "Welcome to Model page",
            autodeskToken: "",
            viewer:'',
            options:'',
            documentId:''
        };
    },
    watch: {
        autodeskToken: function (newVal, oldVal) {
            let self = this;
            console.log('autodeskToken changed');
            let accessToken = newVal;
            let encodeProjectId = btoa(this.$store.state.user.projectId);
            console.log('console.log(token);', accessToken);
            console.log('console.log(projectId);', encodeProjectId);
            encodeProjectId = encodeProjectId.replace(/=/g,'');
            console.log('remove ==', encodeProjectId);
            // var viewer;
            this.options = {
                env: 'AutodeskProduction',
                accessToken: accessToken
            };
            this.documentId = "urn:" + encodeProjectId;
            Autodesk.Viewing.Initializer(this.options, function onInitialized(){
                Autodesk.Viewing.Document.load(self.documentId, self.onDocumentLoadSuccess, self.onDocumentLoadFailure);
            });
        }
    },
    beforeCreate() {
        console.log("Nothing gets called before me!");
    },
    created() {
        let self = this;
        this.axios
            .get("/api/forge/getAutodeskToken")
            .then(function(response) {
                // handle success
                console.log(response.data);
                self.autodeskToken = response.data.token;
            })
            .catch(function(error) {
                // handle error
                console.log(error);
            })
            .then(function() {
                // always executed
            });
    },
    computed: {},
    methods: {
        onDocumentLoadSuccess(doc) {

            // A document contains references to 3D and 2D viewables.
            var viewables = Autodesk.Viewing.Document.getSubItemsWithProperties(doc.getRootItem(), {'type':'geometry'}, true);
            if (viewables.length === 0) {
                console.error('Document contains no viewables.');
                return;
            }

            // Choose any of the avialble viewables
            var initialViewable = viewables[0];
            var svfUrl = doc.getViewablePath(initialViewable);
            var modelOptions = {
                sharedPropertyDbPath: doc.getPropertyDbPath()
            };

            var viewerDiv = document.getElementById('MyViewerDiv');
            this.viewer = new Autodesk.Viewing.Private.GuiViewer3D(viewerDiv);
            this.viewer.start(svfUrl, modelOptions, this.onLoadModelSuccess, this.onLoadModelError);
        },
        onDocumentLoadFailure(viewerErrorCode) {
            console.error('onDocumentLoadFailure() - errorCode:' + viewerErrorCode);
        },
        onLoadModelSuccess(model) {
            console.log('onLoadModelSuccess()!');
            console.log('Validate model loaded: ' + (this.viewer.model === model));
            console.log(model);
        },
        onLoadModelError(viewerErrorCode) {
            console.error('onLoadModelError() - errorCode:' + viewerErrorCode);
        }
    },
    components: {}
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row.content {
    height: 1500px;
}

#MyViewerDiv {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #f0f8ff;
}
</style>










<template>
  <div class="model">
    <div class="container-fluid">
        <div class="row content">
            <div id="MyViewerDiv"></div>
        </div>
    </div>
      {{ msg }}
  </div>
  
</template>

<script>
// import exampleMixin from "./../mixin/ExampleMixin";
// import * as Cookies from 'js-cookie'
export default {
    name: "Model",
    //mixins: [exampleMixin],
    data() {
        return {
            msg: "Welcome to Model page",
            viewer:'',
            options:'',
            documentId:'',
            accessToken: this.$route.params.token,     // Change token to match accessToken sent from Server
            encodeProjectId: this.$route.params.objectId,    // Change id to match accessToken sent from Server
            rendered: 0
        };
    },

    beforeCreate() {
        console.log("Nothing gets called before me!");
        console.log(this.accessToken);
        console.log(this.encodeProjectId);
    },

    created() {
        console.log("Check");
        let self = this;

        if (!this.rendered) {
            // var viewer;
            this.options = {
                env: 'AutodeskProduction',
                accessToken: this.accessToken
            };
            this.documentId = "urn:" + this.encodeProjectId;
            Autodesk.Viewing.Initializer(this.options, function onInitialized(){
                Autodesk.Viewing.Document.load(self.documentId, self.onDocumentLoadSuccess, self.onDocumentLoadFailure);
            });
            this.rendered = 1;
        }
    },

    computed: {},

    methods: {
        onDocumentLoadSuccess(doc) {

            // A document contains references to 3D and 2D viewables.
            var viewables = Autodesk.Viewing.Document.getSubItemsWithProperties(doc.getRootItem(), {'type':'geometry'}, true);
            if (viewables.length === 0) {
                console.error('Document contains no viewables.');
                return;
            }

            // Choose any of the avialble viewables
            var initialViewable = viewables[0];
            var svfUrl = doc.getViewablePath(initialViewable);
            var modelOptions = {
                sharedPropertyDbPath: doc.getPropertyDbPath()
            };

            var viewerDiv = document.getElementById('MyViewerDiv');
            this.viewer = new Autodesk.Viewing.Private.GuiViewer3D(viewerDiv);
            this.viewer.start(svfUrl, modelOptions, this.onLoadModelSuccess, this.onLoadModelError);
        },
        onDocumentLoadFailure(viewerErrorCode) {
            console.error('onDocumentLoadFailure() - errorCode:' + viewerErrorCode);
        },
        onLoadModelSuccess(model) {
            console.log('onLoadModelSuccess()!');
            console.log('Validate model loaded: ' + (this.viewer.model === model));
            console.log(model);
        },
        onLoadModelError(viewerErrorCode) {
            console.error('onLoadModelError() - errorCode:' + viewerErrorCode);
        }
    },
    components: {}
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row.content {
    height: 1500px;
}

#MyViewerDiv {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #f0f8ff;
}
</style>
