<template>
    <div class = "model">
        <div class = "container-fluid">
            <div class = "row content">
                <div id = "MyViewerDiv"></div>
                <div class = "markup_buttons" v-if = "markups_on == true">
                    <button class = "btn btn-default btn-sm" id = "MyAwesomeLockButton">Exit Markup Mode</button>
                    <button class = "btn btn-default btn-sm" id = "MyAwesomeUnlockButton">Save Markup</button>
                </div>
            </div>
        </div>
        <!-- Extension pane: includes CADPRO Logo and file information if provided -->
        
        <div id="fileDetails">
            <div id="imageHeader">
                <img src="../assets/CADPRO_Logo.png" alt="CADPRO Logo">
            </div>

            <!-- Contains all the information about the file that has been uploaded -->
            <div>
                <table id="fileTable">
                    <div class="rowProps">
                        <tr >
                            <td>File Name:  {{ name }}</td>
                        </tr>
                    </div>
                    <div class="rowProps">
                        <tr>
                            <td>File Type: {{ extension }}</td>
                        </tr>
                    </div>
                    <div class="rowProps">
                        <tr>
                            <td>File Size: {{ Math.round((fileData.size / 1000000) * 100) / 100 }} mb </td>
                        </tr>
                    </div>
                    <div class="rowProps">
                        <tr>
                            <td>Last Modified: {{ modDate }} </td>
                        </tr>
                    </div>
                    <div class="rowProps suggestText" >
                        <tr>
                            <td> {{ suggestionText }} </td>
                        </tr>
                    </div>
                    <div class="suggestions">
                        <tr v-if="suggestionProducts.includes('Autodesk Fusion 360')">
                            <td><a href = "https://www.cadpro.co.nz/products/autodesk-software/cloud-services/fusion-360/" target = "_blank"> {{ suggestionProducts[suggestionProducts.length - 1] }} </a></td>
                        </tr>
                    </div>
                    <div class="suggestions">
                        <tr v-if="suggestionProducts.includes('Autodesk Inventor')">
                            <td><a href = "https://www.cadpro.co.nz/products/autodesk-software/autodesk-products-a-z/inventor-pro/" target = "_blank"> {{ suggestionProducts[0] }} </a></td>
                        </tr>
                    </div>
                </table>
            </div>
        </div>
    </div>       
  
</template>

<script>
// import exampleMixin from "./../mixin/ExampleMixin";
// import * as Cookies from 'js-cookie'
// import './static/viewer-3.3/style.min.css';
// import './static/viewer-3.3/viewer3D.min.js';
export default {
    name: "Model",
    //mixins: [exampleMixin],
    data() {
        return {
            msg: "Welcome to Model page",
            viewer:'',
            options:{},
            documentId:'',
            accessToken: this.$route.params.token,        
            encodeProjectId: this.$route.params.objectId, 
            fileData: this.$route.params.file,               // Retrieves file data for display in side pane
            name: '',
            suggestionText: '',
            suggestionProducts: [],
            modDate: '',
            markups_on: false
        };
    },
    beforeCreate() {

    },
    created() {
        let self = this;
        
        /*
             Use this section to determine the file extension and
             suggestion for which Autodesk product they should
             consider.
        */

        //console.log(this.fileData);

        // Gets the file name
        let ext = this.fileData.name.split('.').pop();
        this.extension = ext.toLowerCase();
        //console.log(this.extension);

        // Gets the file extension
        let filename = this.fileData.name.split('.')[0];
        this.name = filename;
        //console.log(this.name);

        // Gets the last modified date
        let date = new Date(this.fileData.lastModifiedDate).toString().split('2018');

        // Updates the date object
        this.modDate = date[0] + " 2018";
        //console.log(this.modDate);

        switch(this.extension) {
            case 'rvt':
                this.suggestionText = "This file was created in Autodesk Revit, you may be interested in the following products to work with this type of file:";
                this.suggestionProducts.push("Autodesk Revit");
                break;
            case 'f3d':
                this.suggestionText = "This file was created in Autodesk Fusion 360. You may be interested in the following products to work with this type of file:";
                this.suggestionProducts.push("Autodesk Fusion 360");
                break;
            case 'sldprt':
                this.suggestionText = "This file was created in Solidworks. You may be interested in the following products to work with this type of file, or create ones similar:";
                this.suggestionProducts.push("Autodesk Inventor");
                this.suggestionProducts.push("Autodesk Fusion 360");
                //console.log(this.suggestionProducts);
                break;
            case 'stp':
                this.suggestionText = 'This file is a neutral format (sometimes called "dumb-solid"). It can be manipulated with products like Autodesk Inventor or Autodesk Fusion 360:';
                this.suggestionProducts.push("Autodesk Inventor");
                this.suggestionProducts.push("Autodesk Fusion 360");
                //console.log(this.suggestionProducts);
                break;
            case 'step':
                this.suggestionText = 'This file is a neutral format (sometimes called "dumb-solid"). It can be manipulated with products like Autodesk Inventor or Autodesk Fusion 360:';
                this.suggestionProducts.push("Autodesk Inventor");
                this.suggestionProducts.push("Autodesk Fusion 360");
                //console.log(this.suggestionProducts);
                break;
            default:
                this.suggestionText = '';
                this.suggestionProducts = '';
        }
        //console.log("File Information: " + this.fileData.name);
        this.documentId = "urn:" + this.encodeProjectId;
    },
    mounted() {
        let self = this;

        var options = 
        {
                env: 'AutodeskProduction2',
                api: 'streamingV2',  // for models uploaded to EMEA change this option to 'streamingV2_EU'
                getAccessToken: function(onTokenReady) {
                    var token = self.accessToken.access_token;
                    var timeInSeconds = 3600; // Use value provided by APS Authentication (OAuth) API
                    onTokenReady(token, timeInSeconds);
                }
        };
        function onDocumentLoadSuccessNew(doc) {
            const config = {
                extensions: ['Autodesk.DocumentBrowser']
            };
            var viewerDiv = document.getElementById('MyViewerDiv');
            self.viewer = new Autodesk.Viewing.GuiViewer3D(viewerDiv, config);
            self.viewer.start();
            self.viewer.setTheme('light-theme');
            self.viewer.setLightPreset(0);
            self.viewer.loadDocumentNode(doc, doc.getRoot().getDefaultGeometry(),config);
            // Autodesk.Viewing.theExtensionManager.registerExternalExtension(
            //     'MyExternal.Extension.Id',
            //     'http://localhost:3000/static/external.js');

            self.viewer.addEventListener(Autodesk.Viewing.GEOMETRY_LOADED_EVENT, function() {
                self.viewer.loadExtension('Autodesk.DocumentBrowser').then(
                    function(externalExtension) {
                        console.log(self.viewer.toolbar);
                    }
                );
                self.viewer.loadExtension('Autodesk.DefaultTools.NavTools').then(
                    function(externalExtension) {
                        console.log(self.viewer.toolbar);
                    }
                );
                //self.viewer.start(undefined,undefined,self.onLoadModelSuccess,self.onLoadModelError);
            });
            var canvasIds = [];
            let prom_array = [];
            self.viewer.addEventListener(Autodesk.Viewing.OBJECT_TREE_CREATED_EVENT, function () {
                
                var instanceTree = self.viewer.model.getData().instanceTree;
                var array =instanceTree.nodeAccess.dbIdToIndex;
                    // Runs through each database ID
                    new Promise((resolve, reject) => {
                    console.log("Initialized");

                    var index;
                    
                        for (index in array) {
                            let dbId = array[index];
                            if (index == 0) {
                                continue;
                            } else {
                                // Gets the properties of the selected database ID
                                prom_array.push(self.getPropertiesPromise(index, self.viewer.model, dbId, canvasIds));
                                
                            }
                        }
                        Promise.all(prom_array)
                        .then(
                            function(results) {
                                console.log(results);
                                resolve(results);
                            }
                        )
                    }).catch((ex) => {
                            console.log("Cannot find canvases");
                            console.log(ex.message);
                            //reject();
                        })
                        .then(() => {
                            // If all canvases in the model have been found (if any)
                            //console.log("Turning off canvases");
                            //console.log(canvasIds);
                            //console.log(canvasIds.length);

                            self.turnOff(self.viewer.model, canvasIds);
                        })
                        .catch((ex) => {
                            console.log("Cannot turn off canvases");
                            console.log(ex.message);
                            //reject();
                        })
                        .then(() => {
                            // Model load confirmation
                            //console.log('onLoadModelSuccess()!');
                            //console.log('Validate model loaded: ' + (this.viewer.model === model));
                            //console.log(model);

                            // resolve();
                        })
                        .catch(() => {
                            console.log("Error")

                            //reject();
                        })
            });
        }
        function onDocumentLoadFailureNew(code, message, errors) {
            { code, message, errors };
        }
        Autodesk.Viewing.Initializer(options, function onInitialized(){

            // var viewerDiv = document.getElementById('MyViewerDiv');
            // var modelOptions = {
            //     sharedPropertyDbPath: doc.getPropertyDbPath()
            // };
            const config = {
                extensions: ['Autodesk.DefaultTools.NavTools']
            };
            Autodesk.Viewing.Document.load(self.documentId, onDocumentLoadSuccessNew, onDocumentLoadFailureNew);
            // self.viewer = new Autodesk.Viewing.GuiViewer3D(viewerDiv, config);
            // self.viewer.start();
            // self.viewer.setTheme('light-theme');
            // self.viewer.setLightPreset(0);
           
            
        });

    },
    methods: {
        onDocumentLoadSuccess(doc) {

            // A document contains references to 3D and 2D viewables.
            var viewables = Autodesk.Viewing.Document.getSubItemsWithProperties(doc.getRootItem(), {'type':'geometry'}, true);
            if (viewables.length === 0) {
                console.error('Document contains no viewables.');
                return;
            }

            // Choose any of the avialble viewables
            var initialViewable = viewables[0];
            var svfUrl = doc.getViewablePath(initialViewable);
            var modelOptions = {
                sharedPropertyDbPath: doc.getPropertyDbPath()
            };

            
            
            // this.viewer = new Autodesk.Viewing.Private.GuiViewer3D(viewerDiv/*, {extensions: ['2D Annotation', 'ADN Simple Extensions']}*/);
            // this.viewer.start(svfUrl, modelOptions, this.onLoadModelSuccess, this.onLoadModelError);

            let self = this;
                
            Autodesk.Viewing.theExtensionManager.registerExternalExtension(
                'MyExternal.Extension.Id',
                'http://localhost:3000/static/external.js');

            self.viewer.addEventListener(Autodesk.Viewing.GEOMETRY_LOADED_EVENT, function() {
                self.viewer.loadExtension('MyExternal.Extension.Id').then(
                    function(externalExtension) {
                        externalExtension.sayHello('Bob');
                    }
                );
            });
            this.markups_on = true;
            //console.log("Yay loaded extension!");
        },
         /*
                Gets the properties for the given index, and checks if the 
                index contains a canvas property - these are then added to
                the removal array for removal in a seperate method.
            */
            getPropertiesPromise(index, model, dbId, canvasIds) {
                return new Promise(async (resolve, reject) => {
                    try {
                        var i;
                        // Gets all properties for each dbId
                        model.getProperties(dbId, function(props) {
                            for (i = 0; i < props.properties.length; i++) {
                                let value = props.properties[i].displayValue;
                                if (typeof value === 'number') {
                                    // Not a canvas, pass
                                    continue;
                                } else {
                                    // Canvas, add to removal array
                                    if (value.includes("Canvas")) {
                                        //console.log(dbId + ": CANVAS");
                                        canvasIds.push(dbId);
                                    }
                                }
                            }   
                            resolve(canvasIds);   
                        });
                    } catch (ex) {
                        console.log('reject', ex.message);
                        reject(ex.message);
                    }
                });
            },
        onDocumentLoadFailure(viewerErrorCode, viewerErrorMessage, next) {
            console.error('onDocumentLoadFailure() - errorCode:' + viewerErrorCode);
            console.log('Message: ' + viewerErrorMessage);
            console.log(next);
        },

        onLoadModelSuccess(model) {
            // Finds canvas layers
            //console.log('');
            // Used to find the database IDs
            let data = model.getData().instanceTree;

           
            
            /*
                Determines whether the type of the selected
                database item is canvas. If so, the item is
                placed in an array to be removed from the 
                model, otherwise it's allowed.
            */
            var canvasIds = [];
            let prom_array = [];

            new Promise((resolve, reject) => {
                console.log("Initialized");

                var index;
                
                // Waits for the model's instance tree to finish populating
                this.viewer.addEventListener(Autodesk.Viewing.OBJECT_TREE_CREATED_EVENT, function () {
                    var array = model.getData().instanceTree.nodeAccess.dbIdToIndex;
                    // Runs through each database ID
                    for (index in array) {
                        let dbId = array[index];
                        if (index == 0) {
                            continue;
                        } else {
                            // Gets the properties of the selected database ID
                            prom_array.push(this.getPropertiesPromise(index, model, dbId, canvasIds));
                            
                        }
                    }
                    /*
                        Creates a promise containing all getProperties calls, so that
                        they are all completed in order
                    */
                    Promise.all(prom_array)
                    .then(
                        function(results) {
                            console.log(results[0]);
                            resolve(results);
                        }
                    )
                })
                

                
            })
            .catch((ex) => {
                console.log("Cannot find canvases");
                console.log(ex.message);
                //reject();
            })
            .then(() => {
                // If all canvases in the model have been found (if any)
                //console.log("Turning off canvases");
                //console.log(canvasIds);
                //console.log(canvasIds.length);

                this.turnOff(model, canvasIds);
            })
            .catch((ex) => {
                console.log("Cannot turn off canvases");
                console.log(ex.message);
                //reject();
            })
            .then(() => {
                // Model load confirmation
                //console.log('onLoadModelSuccess()!');
                //console.log('Validate model loaded: ' + (this.viewer.model === model));
                //console.log(model);

                // resolve();
            })
            .catch(() => {
                console.log("Error")

                //reject();
            })
        },

        onLoadModelError(viewerErrorCode) {
            console.error('onLoadModelError() - errorCode:' + viewerErrorCode);
        },

        // Iterates through a list and turns off all canvas objects
        turnOff(model, canvasIds) {
            //console.log("Started turnOff");
            //console.log(canvasIds);
            this.viewer.hide(canvasIds,model);
            // var id;
            // for (id = 0; id < canvasIds.length; id++) {
            //     let index = canvasIds[id];
            //     //console.log(index);

            //     // hide the node completedly
            //     this.viewer.impl.visibilityManager.setNodeOff(index, true);   // <<<<<<<<<<<< cannot read impl of undefined
            //     //console.log(index + " set to off!");
            // }
        }
    },

    components: {}
};
</script>
    <!-- Add "scoped" attribute to limit CSS to this component only -->
    <style scoped>
    /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
    .row.content {
        height: 100%;
        background-color: #d7d7d7;
    }

    #MyViewerDiv {
        width: 100%;
        height: 92.5%;
        position: absolute;
        background-color: #d7d7d7;
    }


    @media screen and (min-width: 1000px) and (min-height: 900px) {
        /*
            Grey Pane, including file details and suggested software
        */
        #fileDetails {
            position: absolute;
            right: 20px;
            top: 22%;
            width: 400px;
            height: 700px;
            z-index: 2;
            margin-right: 10px;
            background-color: #e6e6e6;
            opacity: 0.9;
        }

        /*
            Exit Markup Button
        */
        #MyAwesomeLockButton {
            display: none;
            position: fixed;
            height: 40px;
            width: 120px;
            opacity: 0.9;
            right: 80px;
            margin-right: 10px;
        }

        /*
            Save Markup Button
        */
        #MyAwesomeUnlockButton {
            display: none;
            height: 40px;
            width: 120px;
            opacity: 0.9;
            right: 235px;
            margin-right: 10px;
            position: fixed;
        }

        /*
            File details table
        */
        #fileTable {
            position: relative;
            margin-top: 60px;
            margin-left: 40px;
            margin-right: 40px;
            color: #1A1A1A;
            font-family: "Arial", Sans-Serif;
            font-weight: bold;
            font-size: 1.0em;
        }
        /*
            CADPRO Logo
        */
        img {
            display: block;
            margin-top: 50px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 50px;
            /*
                Height and width are only optimised for a full-screen view of the model
            */
            height: 80px;
            width: 240px;
        }
        /*
            Gives a margin between file table rows
        */
        .rowProps {
            margin-top: 10px;
        }

        /*
            Suggestion text
        */
        .rowProps.suggestText {
            margin-top: 40px;
            margin-bottom: 30px;
        }

        /*
            Suggestion Hyperlinks
        */
        .suggestions {
            margin-top: 10px;
            margin-bottom: 20px;
        }

        .markup_buttons {
            z-index: 20;
            position: relative;
            width: 300px;
            left: 81.5%;
            top: 900px;
        }

        .btn.btn-default.btn-sm {
            width: 50px;
            height: 50px;
            margin-right: 20px;
            background-color: black;
            opacity: 0.8;
            color: white;
        }

    }

    @media screen and (max-width: 1000px) {
        /*
            Grey Pane, including file details and suggested software
        */
        #fileDetails {
            display: none;
        }

        /*
            File details table
        */
        #fileTable {
            display: none;
        }

        /*
            CADPRO Logo
        */
        img {
            display: none;
        }

        /*
            Gives a margin between file table rows
        */
        .rowProps {
            display: none;
        }

        /*
            Suggestion text
        */
        .rowProps.suggestText {
            display: none;
        }

        /*
            Suggestion Hyperlinks
        */
        .suggestions {
            display: none;
        }
    }

    @media screen and (max-height: 850px) {
        /*
            Grey Pane, including file details and suggested software
        */
        #fileDetails {
            display: none;
        }

        /*
            File details table
        */
        #fileTable {
            display: none;
        }

        /*
            CADPRO Logo
        */
        img {
            display: none;
        }

        /*
            Gives a margin between file table rows
        */
        .rowProps {
            display: none;
        }

        /*
            Suggestion text
        */
        .rowProps.suggestText {
            display: none;
        }

        /*
            Suggestion Hyperlinks
        */
        .suggestions {
            display: none;
        }
    }
</style>