<template>
  <div class="projectlist">
      {{ msg }}

      <div class="container-fluid">
        <div class="row content">
            <ul id="example-1">
                <li class="nav-item" style="cursor: pointer;" v-for="item in projects.items" :key="item.id" v-on:click='selectProject(item)'> 
                    <router-link class="nav-link" :to="{ path: 'model' }">{{ item.objectKey }}</router-link>
                </li>
            </ul>
        </div>
      </div>

  </div>
</template>

<script>
import exampleMixin from "./../mixin/ExampleMixin";
// import * as Cookies from 'js-cookie'
export default {
    name: "Projectlist",
    mixins: [exampleMixin],
    data() {
        return {
            msg: "Welcome to Projectlist page",
            projects: {}
        };
    },
    beforeCreate() {
        console.log("Nothing gets called before me!");
    },
    created() {
        // console.log(this.axios.get("http://localhost:8080/api/forge/getBucketObjects/hellobucket123"));
        //     var projectData;
        let self = this;
        this.axios
            .get("/api/forge/getBucketObjects/hellobucket123")
            .then(function(response) {
                // handle success
                console.log(response.data);
                self.projects = response.data;
            })
            .catch(function(error) {
                // handle error
                console.log(error);
            })
            .then(function() {
                // always executed
            });
    },
    computed: {},
    methods: {
        selectProject(theModel) {
            let projectId = theModel.objectId;
            console.log(projectId);
            this.$store.dispatch('user/setProjectId', {'projectId': projectId});
            console.log(this.$store.state.user.projectId);
        }
    },
    components: {}
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row.content {
    height: 1500px;
}

/* Set gray background color and 100% height */
.sidenav {
    background-color: #f1f1f1;
    height: 100%;
}

/* Set black background color, white text and some padding */
footer {
    background-color: #555;
    color: white;
    padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {
        height: auto;
    }
}
</style>
