<template>
  <div class="upload">
      {{ msg }}
        <div class="container">
            <form action="/api/forge/upload" enctype="multipart/form-data" method="post">
                <input type="text" name="name">
                <input type="file" name="file">
                <input type="submit" value="Upload">
            </form>
        </div>
  </div>
</template>

<script>
// import * as Cookies from 'js-cookie'
export default {
    name: "Upload",
    data() {
        return {
            msg: "This is the upload file page"
        };
    },
    beforeCreate() {
        console.log("Nothing gets called before me!");
    },
    created() {},
    computed: {},
    methods: {},
    components: {}
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row.content {
    height: 1500px;
}
</style>
