<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=no" />
    <meta charset="utf-8">
    <title>Example App</title>
</head>
<body>
 
    {{{body}}}
 
</body>
</html>