<template>
    <div id="app">
        <nav class="navbar navbar-expand-lg navbar-default">
            <img class="img" :src = "image" alt = "CADPRO Logo" />
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
        <router-view/>
    </div>
</template>

<script>
import image_logo from "./assets/CADPRO_Logo.png";

export default {
    name: "App",
    data() {
        return {
            image: image_logo
        }
    },
    beforeCreate() {
        // load the Autodesk Viewer js & css
        let JS_PATH = process.env.FORGE_VIEWER_JS_CDN;
        let CSS_PATH = process.env.FORGE_VIEWER_CSS_CDN;
        if (process.env.LOCAL_FORGE_VIEWER) {
            JS_PATH = process.env.FORGE_VIEWER_JS_PATH;
            CSS_PATH = process.env.FORGE_VIEWER_CSS_PATH;
        }
        let recaptchaScript = document.createElement('script');
        recaptchaScript.setAttribute('src', JS_PATH);
        document.head.appendChild(recaptchaScript);
        let recaptchaCss = document.createElement('link');
        recaptchaCss.setAttribute('href', CSS_PATH);
        recaptchaCss.setAttribute('rel', 'stylesheet');
        recaptchaCss.setAttribute('type', 'text/css');
        document.head.appendChild(recaptchaCss);
    }
};
</script>

<style>

    .navbar {
        margin-bottom: 0;
        border-radius: 0;
        background-color: white;
    }

    .img {
        height: 60px;
        width: 160px;
        margin-left: 20%;
        margin-bottom: 10px;
        image-rendering: crisp-edges;
    }

</style>
