{{ title }}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://npmcdn.com/vue/dist/vue.js"></script>
<script src="https://npmcdn.com/vue-router/dist/vue-router.js"></script>
<script>

</script>

<div id="app">
    {{!-- 
    <router-link to="/foo">/foo</router-link>
     --}}
    {{ msg }}
    <router-link to="/">/home</router-link>
    <router-view></router-view>
</div>

<script>
    const Home = { template: '<ul id="example-1"><li class="nav-item" style="cursor: pointer;" v-for="item in projects.items" :key="item.id" ><p>{{ item.objectKey }}</p></li></ul>' 
    }
    const Foo = { template: '<div>Foo</div> <div>Home {{ msg }}</div>' }
    const router = new VueRouter({
        mode: 'history',
        routes: [
            { path: '/', component: Home },
            //{ path: '/foo', component: Foo }
        ]
    })
    new Vue({
        router,
        el: '#app',
        data: {
            msg: 'Hello World',
            projects:{},
        },
        created: function () {
            let self = this;
            axios.get('http://localhost:8080/api/forge/getBucketObjects/hellobucket123')
            .then(function (response) {
                // handle success
                console.log(response.data);
                self.projects = response.data;
                console.log('this.projects', self.projects);
                self.msg = "Data loaded";
            })
            .catch(function (error) {
                // handle error
                console.log(error);
            })
            .then(function () {
                // always executed
            });
        }

    })
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>