<h1>This is the upload file page</h1>

{{ myName }}


<form action="http://localhost:8080/api/forge/upload" enctype="multipart/form-data" method="post">
    <input type="text" name="name">
    <input type="file" name="file">
    <input type="submit" value="Upload">
</form>